In [1]:
import xlrd
# comentarios
#path: direccion de archivo

import os
import pandas as pd
import numpy as np
import array as arr
import altair as alt

pd.set_option("display.max_columns",None)

In [50]:
arte = pd.read_csv("Obras_csv.csv")
arte["Costo"]=np.array(arte.CostoMDD)
arte["Costo"]=[sub.replace(",",".") for sub in arte.Costo]
arte["Costo"]=arte.Costo.astype(np.float)
arte = arte.sort_values(by="Costo",ascending=False)
arte["Orden"]=arte.reset_index().index+1
arteCarrusel=arte[["Orden","Obra","Pintor","Costo"]]
arteGraf=arte

C:\Users\ogald\AppData\Local\Temp\ipykernel_11652\4135073648.py:4: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  arte["Costo"]=arte.Costo.astype(np.float)

In [51]:
arteGraf

,Obra,Pintor,Creado,CostoMDD,Medidas,F_Venta,Notas,Costo,Orden
0,Salvator Mundi,Leonardo da Vinci,1490-1519,450,66 x 45,2017,Subastada el 15 de noviembre de 2017 por 450 m...,450.0,1
2,¿Cuando te casas? (Nafea faa Ipoipo),Paul Gauguin,1892,300,101 x 77,2015,Subastada en febrero de 2015 en US$ 300 millon...,300.0,2
1,Interchange,Willem de Kooning,1955,300,200.7 × 175.3,2015,NaN,300.0,3
3,Los jugadores de cartas,Paul Cézanne,1892-1893,250,47 × 56.5,2012,"Vendido por US$ 250 millones de dólares, fue a...",250.0,4
4,"No. 6 (Violet, Green and Red)",Mark Rothko,1951,186,NaN,2014,Vendido en 2014 en €180 millones de euros.5​,186.0,5
5,Las mujeres de Argel,Pablo Picasso,1955,"179,4",114 × 146.4,2015,"Subastado el 11 de mayo de 2015 en 179,4 millo...",179.4,6
6,El sueño,Pablo Picasso,1932,155,130 x 97,2013,"Vendido por US$ 155 millones de dólares, fue a...",155.0,7
7,No. 5,Jackson Pollock,1948,140,243.8×121.9,2006,Vendido por $140 millones en noviembre de 2006...,140.0,8
9,Retrato de Adele Bloch-Bauer I,Gustav Klimt,1907,136,138 × 138,2006,Vendido por $136 millones4​ en junio de 2006 (...,136.0,9
8,"Desnudo, hojas verdes y busto",Pablo Picasso,1932,106,163 x 130,2010,"Vendido por US$ 106 millones de dólares, en 20...",106.0,10
12,Garçon à la pipe,Pablo Picasso,1905,104.1,100 x 81,2004,Vendido por $104.1 millones el 4 de mayo de 20...,104.1,11
13,Dora Maar au Chat,Pablo Picasso,1941,95.2,128 x 95,2006,Vendido por $95.2 millones el 3 de mayo de 200...,95.2,12
10,Retrato del Dr. Gachet,Vincent van Gogh,1890,82.5,67 x 56,1990,Vendido por $82.5 millones el 15 de mayo de 19...,82.5,13
11,Baile en el Moulin de la Galette,Pierre-Auguste Renoir,1876,78,131 x 175,1990,Vendido por $78 millones el 17 de mayo de 1990...,78.0,14
15,La masacre de los inocentes,Peter Paul Rubens,1611-1612,76.7,142 x 182,2002,Vendido por £49.5 millones ($76.7 millones) en...,76.7,15
17,Portrait de l'artiste sans barbe,Vincent van Gogh,1889,65,"41 x 32,5",1998,Vendido por $65 millones el 19 de noviembre de...,65.0,16
18,"Rideau, Cruchon et Compotier",Paul Cézanne,1893,60.5,60 × 73,1999,Vendido por $60.5 millones el 10 de mayo de 19...,60.5,17
19,Femme aux Bras Croisés,Pablo Picasso,1901-1902,50,60 x 81,2000,Vendido por $50 millones el 8 de noviembre de ...,50.0,18
14,Lirios,Vincent van Gogh,1889,49,71 x 93,1987,Vendido por $49 millones el 11 de noviembre de...,49.0,19
16,Les Noces de Pierrette,Pablo Picasso,1905,49,114 x 195,1989,Vendido por $49 millones el 30 de noviembre de...,49.0,20

In [52]:
arteCarrusel

    Orden                                  Obra                 Pintor  Costo
0       1                        Salvator Mundi      Leonardo da Vinci  450.0
2       2  ¿Cuando te casas? (Nafea faa Ipoipo)           Paul Gauguin  300.0
1       3                           Interchange      Willem de Kooning  300.0
3       4               Los jugadores de cartas           Paul Cézanne  250.0
4       5         No. 6 (Violet, Green and Red)            Mark Rothko  186.0
5       6                  Las mujeres de Argel          Pablo Picasso  179.4
6       7                              El sueño          Pablo Picasso  155.0
7       8                                 No. 5        Jackson Pollock  140.0
9       9        Retrato de Adele Bloch-Bauer I           Gustav Klimt  136.0
8      10         Desnudo, hojas verdes y busto          Pablo Picasso  106.0
12     11                      Garçon à la pipe          Pablo Picasso  104.1
13     12                     Dora Maar au Chat          Pablo Picasso   95.2
10     13                Retrato del Dr. Gachet       Vincent van Gogh   82.5
11     14      Baile en el Moulin de la Galette  Pierre-Auguste Renoir   78.0
15     15           La masacre de los inocentes      Peter Paul Rubens   76.7
17     16      Portrait de l'artiste sans barbe       Vincent van Gogh   65.0
18     17          Rideau, Cruchon et Compotier           Paul Cézanne   60.5
19     18                Femme aux Bras Croisés          Pablo Picasso   50.0
14     19                                Lirios       Vincent van Gogh   49.0
16     20                Les Noces de Pierrette          Pablo Picasso   49.0

In [53]:
arteCarrusel.to_json(r"JSON_arteCarrusel.json",orient="table")
arteGraf.to_json(r"JSON_arteGraf.json",orient="table")

In [44]:
arte

,Obra,Pintor,Creado,CostoMDD,Medidas,F_Venta,Notas,Costo,Orden
0,Salvator Mundi,Leonardo da Vinci,1490-1519,450,66 x 45,2017,Subastada el 15 de noviembre de 2017 por 450 m...,450.0,1
2,¿Cuando te casas? (Nafea faa Ipoipo),Paul Gauguin,1892,300,101 x 77,2015,Subastada en febrero de 2015 en US$ 300 millon...,300.0,2
1,Interchange,Willem de Kooning,1955,300,200.7 × 175.3,2015,NaN,300.0,3
3,Los jugadores de cartas,Paul Cézanne,1892-1893,250,47 × 56.5,2012,"Vendido por US$ 250 millones de dólares, fue a...",250.0,4
4,"No. 6 (Violet, Green and Red)",Mark Rothko,1951,186,NaN,2014,Vendido en 2014 en €180 millones de euros.5​,186.0,5
5,Las mujeres de Argel,Pablo Picasso,1955,"179,4",114 × 146.4,2015,"Subastado el 11 de mayo de 2015 en 179,4 millo...",179.4,6
6,El sueño,Pablo Picasso,1932,155,130 x 97,2013,"Vendido por US$ 155 millones de dólares, fue a...",155.0,7
7,No. 5,Jackson Pollock,1948,140,243.8×121.9,2006,Vendido por $140 millones en noviembre de 2006...,140.0,8
9,Retrato de Adele Bloch-Bauer I,Gustav Klimt,1907,136,138 × 138,2006,Vendido por $136 millones4​ en junio de 2006 (...,136.0,9
8,"Desnudo, hojas verdes y busto",Pablo Picasso,1932,106,163 x 130,2010,"Vendido por US$ 106 millones de dólares, en 20...",106.0,10
12,Garçon à la pipe,Pablo Picasso,1905,104.1,100 x 81,2004,Vendido por $104.1 millones el 4 de mayo de 20...,104.1,11
13,Dora Maar au Chat,Pablo Picasso,1941,95.2,128 x 95,2006,Vendido por $95.2 millones el 3 de mayo de 200...,95.2,12
10,Retrato del Dr. Gachet,Vincent van Gogh,1890,82.5,67 x 56,1990,Vendido por $82.5 millones el 15 de mayo de 19...,82.5,13
11,Baile en el Moulin de la Galette,Pierre-Auguste Renoir,1876,78,131 x 175,1990,Vendido por $78 millones el 17 de mayo de 1990...,78.0,14
15,La masacre de los inocentes,Peter Paul Rubens,1611-1612,76.7,142 x 182,2002,Vendido por £49.5 millones ($76.7 millones) en...,76.7,15
17,Portrait de l'artiste sans barbe,Vincent van Gogh,1889,65,"41 x 32,5",1998,Vendido por $65 millones el 19 de noviembre de...,65.0,16
18,"Rideau, Cruchon et Compotier",Paul Cézanne,1893,60.5,60 × 73,1999,Vendido por $60.5 millones el 10 de mayo de 19...,60.5,17
19,Femme aux Bras Croisés,Pablo Picasso,1901-1902,50,60 x 81,2000,Vendido por $50 millones el 8 de noviembre de ...,50.0,18
14,Lirios,Vincent van Gogh,1889,49,71 x 93,1987,Vendido por $49 millones el 11 de noviembre de...,49.0,19
16,Les Noces de Pierrette,Pablo Picasso,1905,49,114 x 195,1989,Vendido por $49 millones el 30 de noviembre de...,49.0,20

In [138]:
gastoIES=gastoIES[["Anio","Estado_Abreviado","IES_GPTS_porcentaje_PIB","IES_GPTS_porcentaje_GPT","IES_GPS_PERCAPITA_Total_n2017"]]
gastoIES=gastoIES[gastoIES.Estado_Abreviado != "EUM"].rename(columns={"Estado_Abreviado":"Estado","IES_GPTS_porcentaje_PIB":"PIB","IES_GPTS_porcentaje_GPT":"GPT","IES_GPS_PERCAPITA_Total_n2017":"PERCAPITA"}).set_index("Estado")

In [139]:

gastoIES

        Anio       PIB        GPT    PERCAPITA
Estado
AGS     1995  2.278928  10.647619  2251.143892
BC      1995  2.163063  22.601979  2663.309671
BCS     1995  3.742114  21.956918  4147.626877
CAMP    1995  1.537610   6.582009  2768.635912
COAH    1995  2.400249  17.083340  3012.530402
...      ...       ...        ...          ...
TAMPS   2017  3.181874  18.173028  5339.333865
TLAX    2017  4.977256  28.274960  4374.314206
VER     2017  3.916907  17.513495  4510.971605
YUC     2017  4.249854  22.314929  5875.742148
ZAC     2017  3.747525  25.655200  4616.959496

[736 rows x 4 columns]

In [140]:

gastoIES.to_json(r"JSON_GASTO.json",orient="table")

In [141]:
with pd.ExcelWriter("GASTO_CSV.xlsx") as writer:
  gastoIES.to_excel(writer, sheet_name="gasto")

In [142]:
gastoIES[["PIB","Anio"]]

             PIB  Anio
Estado
AGS     2.278928  1995
BC      2.163063  1995
BCS     3.742114  1995
CAMP    1.537610  1995
COAH    2.400249  1995
...          ...   ...
TAMPS   3.181874  2017
TLAX    4.977256  2017
VER     3.916907  2017
YUC     4.249854  2017
ZAC     3.747525  2017

[736 rows x 2 columns]

In [143]:
gastoIES

        Anio       PIB        GPT    PERCAPITA
Estado
AGS     1995  2.278928  10.647619  2251.143892
BC      1995  2.163063  22.601979  2663.309671
BCS     1995  3.742114  21.956918  4147.626877
CAMP    1995  1.537610   6.582009  2768.635912
COAH    1995  2.400249  17.083340  3012.530402
...      ...       ...        ...          ...
TAMPS   2017  3.181874  18.173028  5339.333865
TLAX    2017  4.977256  28.274960  4374.314206
VER     2017  3.916907  17.513495  4510.971605
YUC     2017  4.249854  22.314929  5875.742148
ZAC     2017  3.747525  25.655200  4616.959496

[736 rows x 4 columns]

In [144]:
gastoPERC = pd.DataFrame(gastoIES.groupby("Estado")["PERCAPITA"].mean())
gastoPERC = gastoPERC.sort_values(by="PERCAPITA",ascending=True)
gastoPERC["Orden"]=gastoPERC.reset_index().index+1
gastoPERC=pd.merge(gastoIES,gastoPERC,on="Estado",how="inner").sort_values(by=["Orden","Anio"],ascending=True)
gastoPERC.rename(columns={"PERCAPITA_x":"PERCAPITA","PERCAPITA_y":"PERCAPITA_mean"},inplace=True)
gastoPERC

        Anio       PIB        GPT     PERCAPITA  PERCAPITA_mean  Orden
Estado
CHIS    1995  3.082612  12.542548   1217.601819     2396.561894      1
CHIS    1996  2.782510   8.104573   1056.482548     2396.561894      1
CHIS    1997  2.395682   6.903133    919.666323     2396.561894      1
CHIS    1998  2.675156   8.131984   1045.206276     2396.561894      1
CHIS    1999  3.553554  10.620692   1345.200746     2396.561894      1
...      ...       ...        ...           ...             ...    ...
CDMX    2013  3.737296   8.521787  13142.214052     9686.434469     32
CDMX    2014  3.022471   6.671049  10648.101231     9686.434469     32
CDMX    2015  3.190114   6.742936  11583.000254     9686.434469     32
CDMX    2016  3.016004   5.826136  11517.957236     9686.434469     32
CDMX    2017  2.908126   6.810649  11251.331521     9686.434469     32

[736 rows x 6 columns]

In [145]:
gastoPERC.to_json(r"JSON_PERC.json",orient="table")

In [146]:
gastoPIB = pd.DataFrame(gastoIES.groupby("Estado")["PIB"].mean())
gastoPIB = gastoPIB.sort_values(by="PIB",ascending=True)
gastoPIB["Orden"]=gastoPIB.reset_index().index+1
gastoPIB=pd.merge(gastoIES,gastoPIB,on="Estado",how="inner").sort_values(by=["Orden","Anio"],ascending=True)
gastoPIB.rename(columns={"PIB_x":"PIB","PIB_y":"PIB_mean"},inplace=True)
gastoPIB

        Anio       PIB        GPT    PERCAPITA  PIB_mean  Orden
Estado
CAMP    1995  1.537610   6.582009  2768.635912  1.125302      1
CAMP    1996  1.409711   4.817801  2382.032152  1.125302      1
CAMP    1997  1.591786   5.386548  2593.055454  1.125302      1
CAMP    1998  1.955212   4.810215  2908.974684  1.125302      1
CAMP    1999  2.076391   7.514958  3309.233269  1.125302      1
...      ...       ...        ...          ...       ...    ...
NAY     2013  4.652251  21.766850  4786.631266  4.234037     32
NAY     2014  4.195087  18.986366  4394.172488  4.234037     32
NAY     2015  4.287882  19.823885  4718.033024  4.234037     32
NAY     2016  3.981486  20.340046  4606.179058  4.234037     32
NAY     2017  4.073215  23.593870  4832.969703  4.234037     32

[736 rows x 6 columns]

In [147]:
gastoPIB.to_json(r"JSON_PIB.json",orient="table")

In [148]:
gastoGPT = pd.DataFrame(gastoIES.groupby("Estado")["GPT"].mean())
gastoGPT = gastoGPT.sort_values(by="GPT",ascending=True)
gastoGPT["Orden"]=gastoGPT.reset_index().index+1
gastoGPT=pd.merge(gastoIES,gastoGPT,on="Estado",how="inner").sort_values(by=["Orden","Anio"],ascending=True)
gastoGPT.rename(columns={"GPT_x":"GPT","GPT_y":"GPT_mean"},inplace=True)
gastoGPT

        Anio       PIB        GPT    PERCAPITA   GPT_mean  Orden
Estado
CAMP    1995  1.537610   6.582009  2768.635912   5.664379      1
CAMP    1996  1.409711   4.817801  2382.032152   5.664379      1
CAMP    1997  1.591786   5.386548  2593.055454   5.664379      1
CAMP    1998  1.955212   4.810215  2908.974684   5.664379      1
CAMP    1999  2.076391   7.514958  3309.233269   5.664379      1
...      ...       ...        ...          ...        ...    ...
JAL     2013  2.774804  30.261226  4271.127945  29.776192     32
JAL     2014  2.786809  29.407469  4407.647411  29.776192     32
JAL     2015  2.673096  27.847115  4445.429067  29.776192     32
JAL     2016  2.459699  26.469881  4381.428904  29.776192     32
JAL     2017  2.495307  27.611914  4511.382516  29.776192     32

[736 rows x 6 columns]

In [149]:
gastoGPT.to_json(r"JSON_GPT.json",orient="table")

In [150]:
gastoALF = pd.DataFrame(gastoIES.groupby("Estado")["GPT"].mean())
gastoALF = gastoALF.sort_values(by="Estado",ascending=True)
gastoALF["Orden"]=gastoALF.reset_index().index+1
gastoALF=pd.merge(gastoIES,gastoALF,on="Estado",how="inner").sort_values(by=["Estado","Anio"],ascending=True)
gastoALF.rename(columns={"GPT_x":"GPT","GPT_y":"GPT_mean"},inplace=True)
gastoALF

        Anio       PIB        GPT    PERCAPITA   GPT_mean  Orden
Estado
AGS     1995  2.278928  10.647619  2251.143892  20.082444      1
AGS     1996  1.987116  10.914541  2007.919580  20.082444      1
AGS     1997  2.143517  13.529886  2257.369782  20.082444      1
AGS     1998  2.319555  13.109835  2566.092732  20.082444      1
AGS     1999  2.761372  15.017065  3086.017217  20.082444      1
...      ...       ...        ...          ...        ...    ...
ZAC     2013  3.941298  21.766645  4368.609730  18.515251     32
ZAC     2014  3.834181  21.374967  4321.959923  18.515251     32
ZAC     2015  3.856125  22.107488  4526.781594  18.515251     32
ZAC     2016  3.674188  21.830197  4480.101200  18.515251     32
ZAC     2017  3.747525  25.655200  4616.959496  18.515251     32

[736 rows x 6 columns]

In [151]:
gastoALF.to_json(r"JSON_ALF.json",orient="table")

In [152]:
with pd.ExcelWriter("GASTO_CSV.xlsx") as writer:
  gastoPERC.to_excel(writer, sheet_name="PERC")
  gastoPIB.to_excel(writer, sheet_name="PIB")
  gastoGPT.to_excel(writer, sheet_name="GPT")
  gastoALF.to_excel(writer, sheet_name="ALF")

In [153]:
pip install geojson

Requirement already satisfied: geojson in c:\users\ogald\anaconda3\lib\site-packages (2.5.0)
Note: you may need to restart the kernel to use updated packages.

In [154]:
periodo = 5
sexenios = [i for i in range(gastoIES.Anio.min(), gastoIES.Anio.max()+periodo, periodo)]
sexenios=[1995,2000,2006,2012,2018]
print(sexenios)

sexeniosCol = pd.cut(gastoIES.Anio, bins=sexenios, precision=0, right=False)
gastoIES.insert(1, "sexenio", sexeniosCol)
gastoIES.head()

[1995, 2000, 2006, 2012, 2018]

        Anio       sexenio       PIB        GPT    PERCAPITA
Estado
AGS     1995  [1995, 2000)  2.278928  10.647619  2251.143892
BC      1995  [1995, 2000)  2.163063  22.601979  2663.309671
BCS     1995  [1995, 2000)  3.742114  21.956918  4147.626877
CAMP    1995  [1995, 2000)  1.537610   6.582009  2768.635912
COAH    1995  [1995, 2000)  2.400249  17.083340  3012.530402

In [155]:
gastoIES

        Anio       sexenio       PIB        GPT    PERCAPITA
Estado
AGS     1995  [1995, 2000)  2.278928  10.647619  2251.143892
BC      1995  [1995, 2000)  2.163063  22.601979  2663.309671
BCS     1995  [1995, 2000)  3.742114  21.956918  4147.626877
CAMP    1995  [1995, 2000)  1.537610   6.582009  2768.635912
COAH    1995  [1995, 2000)  2.400249  17.083340  3012.530402
...      ...           ...       ...        ...          ...
TAMPS   2017  [2012, 2018)  3.181874  18.173028  5339.333865
TLAX    2017  [2012, 2018)  4.977256  28.274960  4374.314206
VER     2017  [2012, 2018)  3.916907  17.513495  4510.971605
YUC     2017  [2012, 2018)  4.249854  22.314929  5875.742148
ZAC     2017  [2012, 2018)  3.747525  25.655200  4616.959496

[736 rows x 5 columns]

In [156]:
presis = [
    "Ernesto Zedillo Ponce de León", 
    "Vicente Fox Quesada", 
    "Felipe Calderón Hinojosa",
    "Enrique Peña Nieto"]

presidenteCol = pd.cut(gastoIES.Anio, bins=sexenios, precision=0, right=False, labels=presis)
gastoIES.insert(1, "presidente", presidenteCol)
gastoIES.head()

,Anio,presidente,sexenio,PIB,GPT,PERCAPITA
Estado,,,,,,
AGS,1995,Ernesto Zedillo Ponce de León,"[1995, 2000)",2.278928,10.647619,2251.143892
BC,1995,Ernesto Zedillo Ponce de León,"[1995, 2000)",2.163063,22.601979,2663.309671
BCS,1995,Ernesto Zedillo Ponce de León,"[1995, 2000)",3.742114,21.956918,4147.626877
CAMP,1995,Ernesto Zedillo Ponce de León,"[1995, 2000)",1.537610,6.582009,2768.635912
COAH,1995,Ernesto Zedillo Ponce de León,"[1995, 2000)",2.400249,17.083340,3012.530402

In [157]:
gastoIES.sexenio.unique()

[[1995, 2000), [2000, 2006), [2006, 2012), [2012, 2018)]
Categories (4, interval[int64, left]): [[1995, 2000) < [2000, 2006) < [2006, 2012) < [2012, 2018)]

In [ ]:
gastoIES.groupby(["Entidad_Federativa", "sexenio"]).mean()