In [59]:
import xlrd
# comentarios
#path: direccion de archivo

import os
import pandas as pd
import numpy as np
import array as arr
import altair as alt

pd.set_option("display.max_columns",None)

In [60]:
gastoIES = pd.read_excel("n2017_PY_Gasto_en_Salud_por_Fuente_de_Financiamiento_1993-2017.xlsx")

In [61]:
gastoIES=gastoIES[["Anio","Estado_Abreviado","IES_GPTS_porcentaje_PIB","IES_GPTS_porcentaje_GPT","IES_GPS_PERCAPITA_Total_n2017"]]
gastoIES=gastoIES[gastoIES.Estado_Abreviado != "EUM"].rename(columns={"Estado_Abreviado":"Estado","IES_GPTS_porcentaje_PIB":"PIB","IES_GPTS_porcentaje_GPT":"GPT","IES_GPS_PERCAPITA_Total_n2017":"PERCAPITA"}).set_index("Estado")

In [62]:

gastoIES

        Anio       PIB        GPT    PERCAPITA
Estado
AGS     1995  2.278928  10.647619  1959.069682
BC      1995  2.163063  22.601979  2317.759096
BCS     1995  3.742114  21.956918  3609.493866
CAMP    1995  1.537610   6.582009  2409.419805
COAH    1995  2.400249  17.083340  2621.670253
...      ...       ...        ...          ...
TAMPS   2017  3.181874  18.173028  5339.333865
TLAX    2017  4.977256  28.274960  4374.314206
VER     2017  3.916907  17.513495  4510.971605
YUC     2017  4.249854  22.314929  5875.742148
ZAC     2017  3.747525  25.655200  4616.959496

[736 rows x 4 columns]

In [63]:

gastoIES.to_json(r"JSON_GASTO.json",orient="table")

In [64]:
with pd.ExcelWriter("GASTO_CSV.xlsx") as writer:
  gastoIES.to_excel(writer, sheet_name="gasto")

In [65]:
gastoIES[["PIB","Anio"]]

             PIB  Anio
Estado
AGS     2.278928  1995
BC      2.163063  1995
BCS     3.742114  1995
CAMP    1.537610  1995
COAH    2.400249  1995
...          ...   ...
TAMPS   3.181874  2017
TLAX    4.977256  2017
VER     3.916907  2017
YUC     4.249854  2017
ZAC     3.747525  2017

[736 rows x 2 columns]

In [66]:
gastoIES

        Anio       PIB        GPT    PERCAPITA
Estado
AGS     1995  2.278928  10.647619  1959.069682
BC      1995  2.163063  22.601979  2317.759096
BCS     1995  3.742114  21.956918  3609.493866
CAMP    1995  1.537610   6.582009  2409.419805
COAH    1995  2.400249  17.083340  2621.670253
...      ...       ...        ...          ...
TAMPS   2017  3.181874  18.173028  5339.333865
TLAX    2017  4.977256  28.274960  4374.314206
VER     2017  3.916907  17.513495  4510.971605
YUC     2017  4.249854  22.314929  5875.742148
ZAC     2017  3.747525  25.655200  4616.959496

[736 rows x 4 columns]

In [67]:
gastoPERC = pd.DataFrame(gastoIES.groupby("Estado")["PERCAPITA"].mean())
gastoPERC = gastoPERC.sort_values(by="PERCAPITA",ascending=True)
gastoPERC["Orden"]=gastoPERC.reset_index().index+1
gastoPERC=pd.merge(gastoIES,gastoPERC,on="Estado",how="inner").sort_values(by=["Orden","Anio"],ascending=True)
gastoPERC.rename(columns={"PERCAPITA_x":"PERCAPITA","PERCAPITA_y":"PERCAPITA_mean"},inplace=True)
gastoPERC

        Anio       PIB        GPT     PERCAPITA  PERCAPITA_mean  Orden
Estado
CHIS    1995  3.082612  12.542548   1059.624317     2355.212141      1
CHIS    1996  2.782510   8.104573    967.161306     2355.212141      1
CHIS    1997  2.395682   6.903133    878.316264     2355.212141      1
CHIS    1998  2.675156   8.131984    972.790184     2355.212141      1
CHIS    1999  3.553554  10.620692   1302.927966     2355.212141      1
...      ...       ...        ...           ...             ...    ...
CDMX    2013  3.737296   8.521787  12956.978154     9498.226880     32
CDMX    2014  3.022471   6.671049  10536.780110     9498.226880     32
CDMX    2015  3.190114   6.742936  11531.744309     9498.226880     32
CDMX    2016  3.016004   5.826136  11408.210662     9498.226880     32
CDMX    2017  2.908126   6.810649  11251.331521     9498.226880     32

[736 rows x 6 columns]

In [68]:
gastoPERC.to_json(r"JSON_PERC.json",orient="table")

In [69]:
gastoPIB = pd.DataFrame(gastoIES.groupby("Estado")["PIB"].mean())
gastoPIB = gastoPIB.sort_values(by="PIB",ascending=True)
gastoPIB["Orden"]=gastoPIB.reset_index().index+1
gastoPIB=pd.merge(gastoIES,gastoPIB,on="Estado",how="inner").sort_values(by=["Orden","Anio"],ascending=True)
gastoPIB.rename(columns={"PIB_x":"PIB","PIB_y":"PIB_mean"},inplace=True)
gastoPIB

        Anio       PIB        GPT    PERCAPITA  PIB_mean  Orden
Estado
CAMP    1995  1.537610   6.582009  2409.419805  1.125302      1
CAMP    1996  1.409711   4.817801  2180.641158  1.125302      1
CAMP    1997  1.591786   5.386548  2476.466433  1.125302      1
CAMP    1998  1.955212   4.810215  2707.429223  1.125302      1
CAMP    1999  2.076391   7.514958  3205.240990  1.125302      1
...      ...       ...        ...          ...       ...    ...
NAY     2013  4.652251  21.766850  4719.165012  4.234037     32
NAY     2014  4.195087  18.986366  4348.233386  4.234037     32
NAY     2015  4.287882  19.823885  4697.155252  4.234037     32
NAY     2016  3.981486  20.340046  4562.289993  4.234037     32
NAY     2017  4.073215  23.593870  4832.969703  4.234037     32

[736 rows x 6 columns]

In [70]:
gastoPIB.to_json(r"JSON_PIB.json",orient="table")

In [71]:
gastoGPT = pd.DataFrame(gastoIES.groupby("Estado")["GPT"].mean())
gastoGPT = gastoGPT.sort_values(by="GPT",ascending=True)
gastoGPT["Orden"]=gastoGPT.reset_index().index+1
gastoGPT=pd.merge(gastoIES,gastoGPT,on="Estado",how="inner").sort_values(by=["Orden","Anio"],ascending=True)
gastoGPT.rename(columns={"GPT_x":"GPT","GPT_y":"GPT_mean"},inplace=True)
gastoGPT

        Anio       PIB        GPT    PERCAPITA   GPT_mean  Orden
Estado
CAMP    1995  1.537610   6.582009  2409.419805   5.664379      1
CAMP    1996  1.409711   4.817801  2180.641158   5.664379      1
CAMP    1997  1.591786   5.386548  2476.466433   5.664379      1
CAMP    1998  1.955212   4.810215  2707.429223   5.664379      1
CAMP    1999  2.076391   7.514958  3205.240990   5.664379      1
...      ...       ...        ...          ...        ...    ...
JAL     2013  2.774804  30.261226  4210.927569  29.776192     32
JAL     2014  2.786809  29.407469  4361.567434  29.776192     32
JAL     2015  2.673096  27.847115  4425.757595  29.776192     32
JAL     2016  2.459699  26.469881  4339.681327  29.776192     32
JAL     2017  2.495307  27.611914  4511.382516  29.776192     32

[736 rows x 6 columns]

In [72]:
gastoGPT.to_json(r"JSON_GPT.json",orient="table")

In [73]:
gastoALF = pd.DataFrame(gastoIES.groupby("Estado")["GPT"].mean())
gastoALF = gastoALF.sort_values(by="Estado",ascending=True)
gastoALF["Orden"]=gastoALF.reset_index().index+1
gastoALF=pd.merge(gastoIES,gastoALF,on="Estado",how="inner").sort_values(by=["Estado","Anio"],ascending=True)
gastoALF.rename(columns={"GPT_x":"GPT","GPT_y":"GPT_mean"},inplace=True)
gastoALF

        Anio       PIB        GPT    PERCAPITA   GPT_mean  Orden
Estado
AGS     1995  2.278928  10.647619  1959.069682  20.082444      1
AGS     1996  1.987116  10.914541  1838.158261  20.082444      1
AGS     1997  2.143517  13.529886  2155.873869  20.082444      1
AGS     1998  2.319555  13.109835  2388.303511  20.082444      1
AGS     1999  2.761372  15.017065  2989.039477  20.082444      1
...      ...       ...        ...          ...        ...    ...
ZAC     2013  3.941298  21.766645  4307.035375  18.515251     32
ZAC     2014  3.834181  21.374967  4276.775771  18.515251     32
ZAC     2015  3.856125  22.107488  4506.750129  18.515251     32
ZAC     2016  3.674188  21.830197  4437.413443  18.515251     32
ZAC     2017  3.747525  25.655200  4616.959496  18.515251     32

[736 rows x 6 columns]

In [74]:
gastoALF.to_json(r"JSON_ALF.json",orient="table")

In [75]:
with pd.ExcelWriter("GASTO_CSV.xlsx") as writer:
  gastoPERC.to_excel(writer, sheet_name="PERC")
  gastoPIB.to_excel(writer, sheet_name="PIB")
  gastoGPT.to_excel(writer, sheet_name="GPT")
  gastoALF.to_excel(writer, sheet_name="ALF")

In [76]:
periodo = 6
sexenios = [i for i in range(gastoIES.Anio.min(), gastoIES.Anio.max()+periodo, periodo)]
sexenios=[1995,2001,2007,2013,2018]
print(sexenios)

sexeniosCol = pd.cut(gastoIES.Anio, bins=sexenios, precision=0, right=False)
gastoIES.insert(1, "sexenio", sexeniosCol)
gastoIES.head()

[1995, 2001, 2007, 2013, 2018]

        Anio       sexenio       PIB        GPT    PERCAPITA
Estado
AGS     1995  [1995, 2001)  2.278928  10.647619  1959.069682
BC      1995  [1995, 2001)  2.163063  22.601979  2317.759096
BCS     1995  [1995, 2001)  3.742114  21.956918  3609.493866
CAMP    1995  [1995, 2001)  1.537610   6.582009  2409.419805
COAH    1995  [1995, 2001)  2.400249  17.083340  2621.670253

In [77]:
gastoIES

        Anio       sexenio       PIB        GPT    PERCAPITA
Estado
AGS     1995  [1995, 2001)  2.278928  10.647619  1959.069682
BC      1995  [1995, 2001)  2.163063  22.601979  2317.759096
BCS     1995  [1995, 2001)  3.742114  21.956918  3609.493866
CAMP    1995  [1995, 2001)  1.537610   6.582009  2409.419805
COAH    1995  [1995, 2001)  2.400249  17.083340  2621.670253
...      ...           ...       ...        ...          ...
TAMPS   2017  [2013, 2018)  3.181874  18.173028  5339.333865
TLAX    2017  [2013, 2018)  4.977256  28.274960  4374.314206
VER     2017  [2013, 2018)  3.916907  17.513495  4510.971605
YUC     2017  [2013, 2018)  4.249854  22.314929  5875.742148
ZAC     2017  [2013, 2018)  3.747525  25.655200  4616.959496

[736 rows x 5 columns]

In [78]:
presis = [
    "Ernesto Zedillo Ponce de León", 
    "Vicente Fox Quesada", 
    "Felipe Calderón Hinojosa",
    "Enrique Peña Nieto"]

presidenteCol = pd.cut(gastoIES.Anio, bins=sexenios, precision=0, right=False, labels=presis)
gastoIES.insert(1, "presidente", presidenteCol)
gastoIES.head()
Arrow=gastoIES

In [79]:
Arrow
pArrow=Arrow.drop(columns=["presidente","Anio"]).sort_values(by=["Estado"],ascending=True).reset_index()
pArrow

    Estado       sexenio       PIB        GPT    PERCAPITA
0      AGS  [1995, 2001)  2.278928  10.647619  1959.069682
1      AGS  [2013, 2018)  2.595544  26.612172  5559.997935
2      AGS  [2001, 2007)  2.865174  21.280000  3632.839006
3      AGS  [1995, 2001)  1.987116  10.914541  1838.158261
4      AGS  [2007, 2013)  3.135624  26.850000  4678.370536
..     ...           ...       ...        ...          ...
731    ZAC  [1995, 2001)  2.468102  12.257706  1139.981483
732    ZAC  [2013, 2018)  3.834181  21.374967  4276.775771
733    ZAC  [1995, 2001)  2.661223  14.248971  1176.985686
734    ZAC  [2007, 2013)  3.684971  18.380000  3698.592238
735    ZAC  [2013, 2018)  3.747525  25.655200  4616.959496

[736 rows x 5 columns]

In [80]:
resArrow=pArrow["PIB"][0]-pArrow["PIB"][1]
resArrow

-0.31661556786187006

In [81]:
resArrow=pArrow["PIB"][0:4]-pArrow["PIB"][1:5]
resArrow

0    NaN
1    0.0
2    0.0
3    0.0
4    NaN
Name: PIB, dtype: float64

In [82]:
gastoIES.sexenio.unique()

[[1995, 2001), [2001, 2007), [2007, 2013), [2013, 2018)]
Categories (4, interval[int64, left]): [[1995, 2001) < [2001, 2007) < [2007, 2013) < [2013, 2018)]

In [83]:
gastoIES=gastoIES.groupby(["Estado", "sexenio"]).mean()

In [84]:
meanPERC = pd.DataFrame(gastoIES.groupby("Estado")["PERCAPITA"].mean())
meanPERC = meanPERC.sort_values(by="PERCAPITA",ascending=True)
meanPERC["Orden"]=meanPERC.reset_index().index+1
meanPERC=pd.merge(meanPERC,gastoIES,on="Estado",how="inner").sort_values(by=["Orden","Anio"],ascending=True)
meanPERC.rename(columns={"PERCAPITA_x":"PERCAPITA","PERCAPITA_y":"PERCAPITA_mean"},inplace=True)
meanPERC

          PERCAPITA  Orden    Anio       PIB        GPT  PERCAPITA_mean
Estado
CHIS    2401.625922      1  1997.5  3.031357   9.543822     1103.833708
CHIS    2401.625922      1  2003.5  3.744797  15.070000     1947.593523
CHIS    2401.625922      1  2009.5  4.825630  17.701667     3085.933565
CHIS    2401.625922      1  2015.0  5.478919  18.481366     3469.142892
MICH    2446.389827      2  1997.5  2.374804  14.648660     1142.041314
...             ...    ...     ...       ...        ...             ...
BCS     5607.353616     31  2015.0  3.285400  17.387763     6532.998440
CDMX    9583.176133     32  1997.5  2.882883  13.131239     6268.273877
CDMX    9583.176133     32  2003.5  3.177194  10.718333     8855.970946
CDMX    9583.176133     32  2009.5  3.584998   9.536667    11671.450757
CDMX    9583.176133     32  2015.0  3.174802   6.914511    11537.008951

[128 rows x 6 columns]

In [85]:
meanPERC.to_json(r"JSON_meanPERC.json",orient="table")

In [86]:
with pd.ExcelWriter("GASTO_CSV.xlsx") as writer:
  gastoIES.to_excel(writer, sheet_name="IES")
  gastoPERC.to_excel(writer, sheet_name="PERC")
  gastoPIB.to_excel(writer, sheet_name="PIB")
  gastoGPT.to_excel(writer, sheet_name="GPT")
  gastoALF.to_excel(writer, sheet_name="ALF")
  meanPERC.to_excel(writer, sheet_name="meanPERC")

In [87]:
meanPIB = pd.DataFrame(gastoIES.groupby("Estado")["PIB"].mean())
meanPIB = meanPIB.sort_values(by="PIB",ascending=True)
meanPIB["Orden"]=meanPIB.reset_index().index+1
meanPIB=pd.merge(meanPIB,gastoIES,on="Estado",how="inner").sort_values(by=["Orden","Anio"],ascending=True)
meanPIB.rename(columns={"PIB_x":"PIB","PIB_y":"PIB_mean"},inplace=True)
meanPIB

             PIB  Orden    Anio  PIB_mean        GPT    PERCAPITA
Estado
CAMP    1.120061      1  1997.5  1.768191   6.018588  2740.754515
CAMP    1.120061      1  2003.5  1.106372   7.696667  4751.925666
CAMP    1.120061      1  2009.5  0.606164   5.236667  6528.398108
CAMP    1.120061      1  2015.0  0.999517   3.313836  6154.105895
NL      1.779428      2  1997.5  1.929468  24.470076  2940.910871
...          ...    ...     ...       ...        ...          ...
OAX     4.260568     31  2015.0  5.259814  18.792112  3906.549440
CHIS    4.270176     32  1997.5  3.031357   9.543822  1103.833708
CHIS    4.270176     32  2003.5  3.744797  15.070000  1947.593523
CHIS    4.270176     32  2009.5  4.825630  17.701667  3085.933565
CHIS    4.270176     32  2015.0  5.478919  18.481366  3469.142892

[128 rows x 6 columns]

In [88]:
meanPIB.to_json(r"JSON_meanPIB.json",orient="table")

In [89]:
with pd.ExcelWriter("GASTO_CSV.xlsx") as writer:
  gastoPERC.to_excel(writer, sheet_name="PERC")
  gastoPIB.to_excel(writer, sheet_name="PIB")
  gastoGPT.to_excel(writer, sheet_name="GPT")
  gastoALF.to_excel(writer, sheet_name="ALF")
  meanPERC.to_excel(writer, sheet_name="meanPERC")
  meanPIB.to_excel(writer, sheet_name="meanPIB")

In [90]:
meanGPT = pd.DataFrame(gastoIES.groupby("Estado")["GPT"].mean())
meanGPT = meanGPT.sort_values(by="GPT",ascending=True)
meanGPT["Orden"]=meanGPT.reset_index().index+1
meanGPT=pd.merge(meanGPT,gastoIES,on="Estado",how="inner").sort_values(by=["Orden","Anio"],ascending=True)
meanGPT.rename(columns={"GPT_x":"GPT","GPT_y":"GPT_mean"},inplace=True)
meanGPT

              GPT  Orden    Anio       PIB   GPT_mean    PERCAPITA
Estado
CAMP     5.566440      1  1997.5  1.768191   6.018588  2740.754515
CAMP     5.566440      1  2003.5  1.106372   7.696667  4751.925666
CAMP     5.566440      1  2009.5  0.606164   5.236667  6528.398108
CAMP     5.566440      1  2015.0  0.999517   3.313836  6154.105895
CDMX    10.075187      2  1997.5  2.882883  13.131239  6268.273877
...           ...    ...     ...       ...        ...          ...
EDOMEX  28.010935     31  2015.0  4.210475  30.597387  4237.014192
JAL     29.715497     32  1997.5  2.370671  26.462468  2039.601365
JAL     29.715497     32  2003.5  2.631433  34.150000  3261.681925
JAL     29.715497     32  2009.5  2.769192  29.930000  4010.517066
JAL     29.715497     32  2015.0  2.637943  28.319521  4369.863288

[128 rows x 6 columns]

In [91]:
meanGPT.to_json(r"JSON_meanGPT.json",orient="table")

In [92]:
with pd.ExcelWriter("GASTO_CSV.xlsx") as writer:
  gastoPERC.to_excel(writer, sheet_name="PERC")
  gastoPIB.to_excel(writer, sheet_name="PIB")
  gastoGPT.to_excel(writer, sheet_name="GPT")
  gastoALF.to_excel(writer, sheet_name="ALF")
  meanPERC.to_excel(writer, sheet_name="meanPERC")
  meanPIB.to_excel(writer, sheet_name="meanPIB")
  meanGPT.to_excel(writer, sheet_name="meanGPT")